* {
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

img{
    width: 400px;
    height: auto;
}

#title{
    font-size: 60px;
    font-weight: bold;
}


.recipe-title{
    font-size: 32px;
}

.subheader{
    font-size: 24px;
    font-weight: bold;
}

.subheader {
    color:#daa520
}
