* {
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

img{
    width: 400px;
    height: auto;
}

#title{
    font-size: 60px;
    font-weight: bold;
}

.subheader,
.page-title{
    color:#daa520
}

.recipe-title{
    font-size: 32px;
}

.subheader{
    font-size: 24px;
    font-weight: bold;
}

h5{
    font-size: 18px;
    color: lightcoral;
}
